<h3><%= link_to "Simple Airbnb", flats_path %></h3>

<h1><%=@flat.name%></h1>
<p><%=@flat.address%></p>
<p><%=@flat.number_of_guests%></p>
<p><%=@flat.price_per_night%></p>
<h3><%= link_to "Edit", edit_flat_path(@flat) %></h3>
<h3><%= link_to "Remove", flat_path(@flat), method: :delete, data: {confirm: "Are you sure?"} %></h3>
